<div class="container">
  <div class="row">
    <div class="col-lg-7, mx-auto">
      <h2>ユーザー情報編集</h2>
      <%= form_with model: @user, local: true do |f| %>
        <table>
          <tr class="field">
            <th><%= f.label :プロフィール画像 %> </th>
            <th><%= f.attachment_field :profile_image %></th>
          </tr>
          <tr class="field">
            <th><label>ニックネーム</label></th>
            <th><%= f.text_field :name %></th>
          </tr>
          <tr>
            <th><%= f.label :email %></th>
            <th><%= f.text_field :email %></th>
          </tr>
          <tr>
            <th></th>
          </tr>
        </table>
        <div class="field">
          <%= f.submit "更新", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>