<div class="container">
  <div class="row">
    <div class="col-lg-7, mx-auto">
      <div>
        <%= link_to user_path(@user.id) do %>
          <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "40x40" %>
          <%= @user.name %>
        <% end %>
        <% if @user == current_user %>
          <%= link_to "edit profile", edit_user_path(current_user.id), class: "btn btn-light btn-outline-secondary" %>
        <% end %>
      </div>
      <div>
        投稿数： <%= @user.posts.count %>
        フォロー数: <%= link_to user_followings_path(@user.id) do %><%= @user.followings.count %><% end %>
        フォロワー数: <%= link_to user_followers_path(@user.id) do %><%= @user.followers.count %><% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-lg-3">
        <% post.post_images.first(1).each do |post_image| %>
          <%= link_to post_path(post.id) do %>
            <%= attachment_image_tag post_image, :image, size: "300x300" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>