<div class="container">
  <div class="row, text-center">
    <h2>新規投稿</h2>
  </div>

  <% if @post.errors.any? %>
    <div class="row">
      <div class="col-lg-7, mx-auto">
        <%= @post.errors.count %>件のエラーが発生しました。
        <% @post.errors.full_messages.each do |message| %>
          <div class="text-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= form_with model: @post, local:true do |f| %>
    <div class="row">
      <div class="col-lg-7, mx-auto">
        <table>
          <tr>
            <th>行った場所</th>
            <th><%= f.text_field :place, size:"70x5" %></th>
          </tr>
          <tr>
            <th>投稿画像</th>
            <th><%= f.attachment_field :post_images_images, multiple: true %></th>
          </tr>
          <tr>
            <th>評価</th>
            <th>
              <div id="evaluate_stars"></div>
            </th>
            <script>
              $('#evaluate_stars').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'post[evaluation]',
                half: true,
              });
            </script>
          </tr>
          <tr>
            <th>感想</th>
            <th><%= f.text_area :body, size:"70x40" %></th>
          </tr>
          <tr>
            <th>ハッシュタグ</th>
            <th><%= f.text_area :hashbody, placeholder: "#hashtag", size:"70x7" %></th>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2, mx-auto">
        <%= f.submit "投稿", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>