<div class="container">
  <div class="row">
    <div class="col-lg-7, mx-auto">
      <table class="table">
        <tr>
          <th>行った場所</th>
          <th><%= @post.place %></th>
        </tr>
        <tr>
          <th>評価</th>
          <th><div id="evaluate_stars"></div></th>
          <script>
            $('#evaluate_stars').raty({
              size: 36,
              starOff: "<%= asset_path('star-off.png') %>",
              starOn: "<%= asset_path('star-on.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              half: true,
              readOnly: true,
              score: <%= @post.evaluation %>,
            });
          </script>
        </tr>
        <%# if @post.user == current_user %>
          <tr>
            <th><%#= link_to "編集する", edit_post_path(@post.id), class:"btn btn-light btn-outline-secondary" %></th>
            <th></th>
          </tr>
        <%# end %>
      </table>
      <div>
        <% @post.post_images.each do |post_image| %>
          <%= attachment_image_tag post_image, :image, :fill, 500, 300 %>
        <% end %>
      </div>
      <div>
        <%= @post.body %>
      </div>
      <div>
        <%= render_with_hashtags(@post.hashbody) %>
      </div>
      <div id="post_<%= @post.id %>">
        <%# いいねボタン %>
        <%= render "favorites/favorite", post: @post %>
      </div>
      <% if @post.user == current_user %>
        <div>
          <%#投稿削除ボタン%>
          <%= link_to "投稿を削除", post_path(@post.id), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h4 id="comments_count">コメント(<%= @post.post_comments.count %>)</h4>
  </div>
  <div class="row">
    <table id="post_comment_<%= @post.id %>">
      <%= render "post_comments/post_comment", post: @post %>
    </table>
  </div>
  <div class="row">
    <%= form_with model:[@post, @post_comment], local: false do |f| %>
      <%= f.text_area :content, size:"100x3", id: "post_comment_content" %>
      <%= f.submit "コメント送信" %>
    <% end %>
  </div>
</div>