<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Exchange Impressions", posts_path, class:"navbar-brand border border-secondary" %>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-md-auto align-items-center">
        <% if user_signed_in? %>
          <li><%= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸", user_path(current_user.id), class:"btn btn-light btn-outline-secondary" %></li>
          <li><%= link_to "ãƒ¦ãƒ¼ã‚¶ãƒ¼ä¸€è¦§", users_path, class: "btn btn-light btn-outline-secondary" %></li>
          <li><%= link_to "æŠ•ç¨¿ä¸€è¦§", posts_path, class: "btn btn-light btn-outline-secondary" %></li>
          <li><%= link_to "æ–°è¦æŠ•ç¨¿", new_post_path, class:"btn btn-light btn-outline-secondary" %></li>
          <li><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete, class:"btn btn-light btn-outline-secondary" %></li>
        <% else %>
          <li><%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path, class:"btn btn-light btn-outline-secondary" %></li>
          <li><%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path,class:"btn btn-light btn-outline-secondary" %></li>
        <% end %>
          <%#<li><input name="search" placeholder="searchã€€ðŸ”"></li>%>
      </ul>
    </div>
  </div>
</nav>