<!DOCTYPE html>
<html>
  <head>
    <title>ExchangeImpressions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border-bottom">
      <%= render "layouts/header" %>
    </header>
    <%= yield %>
    <footer class="border-top">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
